<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><%= link_to contacts_path, class: "text-reset" do %>Contacts<% end %></li>
        </ol>
      </nav>
      
      <div class="list-group my-3">
        <%= form_tag contacts_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a contact"
          %>      
        <% end %>
        <% @contacts.each do |contact| %>
          <%= link_to contact_path(contact), class: "list-group-item list-group-item-action" do %>
              <% if contact.photo.attached? %>
                <%= cl_image_tag contact.photo.key, class: "rounded-circle mr-1" , height: 50, width: 50, crop: :fill %>
               <% else %>
                <%= image_tag "user_icon.png", class: "rounded-circle mr-1" , height: 50, width: 50, crop: :fill %>
              <% end %>
            <%= contact.first_name %> <%= contact.last_name %>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Add new contact", new_contact_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
</div>
