<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-md-9">
      <h2><%= link_to contacts_path, class: "text-reset" do %>Contacts<% end %> > <%= @contact.first_name %> <%= @contact.last_name %></h2>
      <p>Here will be the interactions</p>
      <% @contact.events.each do |event| %>
        <p><%= event.note %></p>
      <% end %>
      <p>Add event</p>
      <%= link_to "Add interaction", new_contact_event_path(@contact), class: "btn btn-primary" %>
      <%= link_to "Back", contacts_path, class: "btn btn-secondary" %>
      <%= link_to "Edit", edit_contact_path(@contact), class: "btn btn-secondary" %>
      <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
